.container {
  display: flex;
}

.logo-set {
  flex: initial;
}

.flex {
  flex: 1;
}

#logo {
  float: left;
}

#logo-text {
  float: none;
  margin: 0 0 1px 5px;
}

#tagline {
  float: none;
  margin: 0 0 1px 5px;
}

.margin-0 {
  margin: 0;
}

div.social {
  justify-content: flex-end;
  float: right;
}

.social {
  display: inline-block;
}

.paddingRight {
  padding-right: 10px;
}
